.services {
    padding: 1.5rem;
    padding-inline: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media (width < 1500px) {
    .services {
        padding-inline: 1.5rem;
    }
}

.services__card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 2em;
    margin-top: 2rem;
}

.services__card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1em;

    color: var(--color-dark);

    --card-size: 225px;
    width: var(--card-size);
    height: var(--card-size);

    background-color: var(--color-light);
    border-radius: 15px;
}

.services__card-desc {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__card-img {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f5f3fe;
    --icon-size: 3rem;
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 20%;
}

.services__card-img>img {
    width: 60%;
}