.about-me__img-container {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.about-me__img {
  color: var(--color-dark);
  width: 300px;
  min-height: 400px;
  background: var(--color-light);
  border-radius: 15px;
  position: relative;
  padding: 1.25em;
}

.about-me__img > img {
  width: 100%;
}

.about-me__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-purple);
  transform: rotate(-10deg);
  z-index: -1;
  border-radius: 15px;
}

@media (max-width: 300px) {
  .about-me__img {
    width: 200px;
    min-height: 250px;
  }
}
