.experience_item__container {
  width: 100%;
  display: flex;
}

.experience_item__starting {
  width: 10%;
}
.experience_item__starting > * {
  display: none;
}

@media (min-width: 430px) {
  .experience_item__bar {
    flex: 1;
    padding-block: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .experience_item__circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--color-cyan);
  }

  .experience_item__line {
    flex: 1;
    position: relative;
  }

  .experience_item__line::before {
    --size: 5px;
    content: "";
    position: absolute;
    top: 10%;
    bottom: 0;
    left: calc(50% - (var(--size) / 2));
    width: var(--size);
    background-color: var(--color-cyan);
  }
  .experience_item__starting {
    width: 10%;
    padding-block: 1.1em;
    color: var(--color-purple);
    font-size: 0.75em;
    font-style: italic;
    text-align: left;
  }

  .experience_item__starting > * {
    display: block;
  }
}

.experience_item {
  width: 85%;
  text-align: left;
  padding-block: 1em;
  border-bottom: 1px solid var(--color-cyan);
}

.experience_item > h4 {
  font-weight: bold;
  padding-block-end: 0.75em;
}

.experience_item > h5 {
  font-size: 0.8em;
  font-style: italic;
}

.experience_item > h6 {
  font-size: 0.9em;
  padding-block-end: 0.75em;
}
