.section {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (min-width: 1000px) {
  .section {
    padding-inline: 10rem;
  }
}
