---
import Layout from '../layouts/Layout.astro';

import {useTranslations, useCurrentLanguage} from "../i18n/utils";

const lang = useCurrentLanguage(Astro.currentLocale);
const t = useTranslations(lang);
---

<Layout>
	<h2>{t("nav.home")}</h2>
	<a href="/en" data-astro-prefetch>English</a>
	<a href="/" data-astro-prefetch>Español</a>
</Layout>
</Layout>
