---
import Link from "./Link.astro";
import Section from "./Section.astro";

import {useTranslations, useCurrentLanguage} from "../i18n/utils";

const lang = useCurrentLanguage(Astro.currentLocale);
const t = useTranslations(lang);
---

<section class="flex flex-col w-full h-[calc(100vh-60px)] bg-[url('/lines-bg.svg')] bg-cover bg-center bg-no-repeat">
    <div class="max-w-5xl flex flex-col items-center justify-center gap-6 m-auto">
        <h2 class="text-3xl font-bold text-primary">{t("nav.home")}</h2>
            <Link
            to="blog"
            data-astro-prefetch
            class="rounded-lg border-2 border-primary bg-primary px-5 py-2 font-medium text-background transition hover:border-secondary hover:bg-secondary"
            >
            {t("nav.blog")}
        </Link>
    </div>
</section>