---
import {cn} from "../lib/utils";

interface Props {
    class?: string;
}

const {class: className} = Astro.props as Props;
---

<section class={cn("flex flex-col items-center justify-center max-w-5xl m-auto", className)}>
    <slot />
</section>