.footer {
  background-color: var(--color-darker);
  color: var(--color-light);
  padding-block-start: 3em;
  padding-block-end: 0.5em;
  font-size: 0.9em;
}

.content {
  display: flex;
  padding-block-end: 1em;
}

.content > div {
  flex: 1;
  padding: 1em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5em;
}

.personal > p > a,
.personal > p > span {
  text-decoration: none;
  color: var(--color-cyan);
}

.social {
  display: flex;
  padding: 1em;
  gap: 2em;
  color: var(--color-purple);
  justify-content: center;
}

.copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.75em;
}

.footer .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.footer .links > a {
  color: var(--color-cyan);
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}
