.about-me__text {
    padding-left: 2.5em;
    text-align: justify;
}

@media (max-width: 900px) {
    .about-me__text {
        padding: 0;
        padding-inline: 1em;
        text-align: center;
    }
}