nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2.5em;
}

@media (max-width: 1400px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
        padding: 1.5em 2.5em;
    }
}